<div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= resources.title %>" required>
    <br>
</div>
<div class="form-item">
    <label for="type">Type</label>
    <select name="type" id="type" required>
        <option value="Video" <%=resources.type==='Video' ? 'selected' : '' %>>Video</option>
        <option value="Document" <%=resources.type==='Document' ? 'selected' : '' %>>Document</option>
    </select>
    <br>
</div>

<div class="form-item">
    <label>Link</label>
    <input type="text" name="link" value="<%= resources.link %>" required>
    <br>
</div>
<div class="form-item">
    <label for="created_at">Created at:</label>
    <input type="datetime-local" name="created_at"
        value="<%= resources.created_at ? resources.created_at.toISOString().slice(0, 16) : '' %>" required>
</div>