<h2 class="page-header">Bursaries</h2>

<form action="/bursaries" method="GET">
    <div class="form-row">
        <div class="form-item">
            <h2 class="page-header">Search Bursaries</h2>
            <label>Title</label>
            <input type="text" name="title" value="<%= searchOptions.title || '' %>" placeholder="Search by title">
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<br>
<!-- Display all bursaries inside an unordered list -->
<ul class="workspace-list">
    <% bursaries.forEach((bursary, index) => { %>
        <li class="workspace-item" data-index="<%= index %>">
            <div class="bursary-card">
                <h3>
                    <%= bursary.title || 'Untitled Bursary' %>
                </h3>
                
                <% if (bursary.coverImageData) { %>
                    <img src="data:<%= bursary.contentType %>;base64,<%= bursary.coverImageData %>"
                        alt="<%= bursary.title %>" height="150" width="150">
                    <% } else { %>
                    <p>No cover image available</p>
                <% } %>

                <p>Description: <%= bursary.description || 'No description available' %></p>
                <p>Link:
                    <% if (bursary.link) { %>
                        <a href="<%= bursary.link %>" target="_blank">
                            <%= bursary.link %>
                        </a>
                    <% } else { %>
                        No link provided
                    <% } %>
                </p>
                
                <div class="form-row form-row-end btn-row">
                    <% if (userRole ==='Admin') {%>
                        <a class="btn btn-primary" href="/bursaries/<%= bursary.id %>/edit">Edit</a>
                        <form action="/bursaries/<%= bursary.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger" type="submit">Delete</button>    <% } %>
                        </form>
                </div>
            </div>
        </li>
    <% }) %>
</ul>




<script>
   document.addEventListener("DOMContentLoaded", function() {
    // Get all the workspace items
    const workspaceItems = document.querySelectorAll('.workspace-item');
    
    // Loop through each workspace item and adjust the 'top' based on its index
    workspaceItems.forEach((item, index) => {
        // Set the top position dynamically
        item.style.top = `${index * 10}px`; // 10px increment for each item
    });
});

</script>




